@using FoodOrderApp.Models
@using FoodOrderApp.Services.CartService
@using FoodOrderApp.Components.NutritionDialog
@inject ICartService CartService

<div class="col-md-4">
    <div class="card h-100">
        <img src="@Item.ImageUrl" class="card-img" alt="@Item.Name" @onclick="ShowNutritionDialog" />
        <div class="card-body">
            <h5 class="card-title">@Item.Name</h5>
            <p class="card-text">@Item.Description</p>
            <div class="d-flex justify-content-between align-items-center">
                <span class="price-tag">€@Item.Price</span>
                <button class="btn btn-cart btn-small" @onclick="AddItemToCart">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>

<NutritionDialog 
    @bind-Show="showNutritionDialog"
    ItemName="@Item.Name"
    Info="@Item.NutritionalInfo">
</NutritionDialog>

@code {
    [Parameter] public required MenuItem Item { get; set; }
    private bool showNutritionDialog = false;

    private void AddItemToCart()
    {
        CartService.AddToCart(Item);
    }

    private void ShowNutritionDialog()
    {
        showNutritionDialog = true;
    }
}